CLOUDFLARE_MESH_DNS_UPDATER_ENDPOINT={{ cloudflare_mesh_dns_updater_endpoint | quote }}
CLOUDFLARE_MESH_DNS_UPDATER_MESH_IP={{ cloudflare_mesh_dns_updater_mesh_ip | quote }}
CLOUDFLARE_MESH_DNS_UPDATER_MESH_CIDR={{ cloudflare_mesh_dns_updater_mesh_cidr | quote }}
CF_ACCESS_CLIENT_ID={{ cloudflare_mesh_dns_updater_access_client_id | quote }}
CF_ACCESS_CLIENT_SECRET={{ cloudflare_mesh_dns_updater_access_client_secret | quote }}
