proc            /proc           proc    defaults          0       0
PARTUUID={{ raspberrypi_boot_partuuid }}  /boot/firmware  vfat    defaults          0       2
PARTUUID={{ raspberrypi_root_partuuid }}  /               ext4    defaults,noatime  0       1
# a swapfile is not a swap partition, no line here
#   use  dphys-swapfile swap[on|off]  for that

tmpfs           /tmp            tmpfs     defaults,size=512m,noatime,mode=1777 0       0
tmpfs           /var/tmp        tmpfs     defaults,size=1g,noatime,mode=1777 0       0
tmpfs           /var/log        tmpfs     defaults,size=128m,noatime,mode=0755 0       0
