# Created by https://www.toptal.com/developers/gitignore/api/ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible

### Ansible ###
*.retry

# End of https://www.toptal.com/developers/gitignore/api/ansible


# From private-infra repository

.lock

# Python bytecode cache (e.g. roles/kiosk/files/__pycache__)
__pycache__/
*.pyc
