Match host arm-srv.shiron.dev exec "cloudflared access ssh-gen --hostname %h"
ProxyCommand cloudflared access ssh --hostname %h
IdentityFile ~/.cloudflared/%h-cf_key
CertificateFile ~/.cloudflared/%h-cf_key-cert.pub

Host home-ep
  HostName home-ep.network.melisia.net
  User ansible_user
